/* Основные стили */
body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/v8_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(76, 175, 80, 0.8);
  color: white;
  text-align: center;
  padding: 0.01em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f8f5f5;
}

main {
  text-decoration: none;
  color: white;
}

/* Убираем фон у секции контактов */
#contacts {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* Стили для футера */
footer {
  text-decoration: none;
  color: white; 
  padding: 20px; 
  border-radius: 5px; 
  text-align: center; 
}

footer section {
  background-color: transparent;
  padding: 0; 
  margin: 0; 
}

.button-link {
  border: 1px solid white;
  border-radius: 30px;
  padding: 7px 25px;
  width: 449px;
  height: 64px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  display: block; 
  margin: 0 auto; 
  text-align: center; 
  line-height: 64px; 
  text-decoration: none; 
  color: white; 
}

.button-link:hover {
  background-color: rgba(69, 160, 73, 0.5);
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 5px;
}

#destinations {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.destination-button {
    margin: 10px 0; 
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.destination-button:hover {
    background-color: #45a049; 
}

@media (max-width: 768px) {
    nav ul li {
        display: block; 
        margin-bottom: 10px;
    }

    .button-link {
        width: calc(100% - 30px); 
        padding: 18px; 
    }

    section {
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em; 
        padding: .5em; 
    }

    .destination-button {
        padding: 8px; 
        font-size: .9em; 
    }
}
