html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
  font-family: 'Manrope', sans-serif; /* Шрифт для всей страницы */
  background-image: url('../images/v8_2.png'); /* Путь к изображению */
  background-size: cover; /* Масштабирование изображения */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Без повторения изображения */
  background-attachment: fixed; /* Фон закреплён и не прокручивается */
  color: white; /* Белый цвет текста для всей страницы */
}

header {
  background-color: rgba(76, 175, 80, 0.8); /* Полупрозрачный фон для заголовка */
  color: white;
  text-align: center;
  padding: 0.01em 0;
  top: 0;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header a:hover {
  text-decoration: underline;
}

footer {
  text-decoration: none;
  color: white; /* текст в footer */
  padding: 20px; /* Отступы внутри футера */
  border-radius: 5px; /* Закругление углов */
  text-align: center; /* Центрируем текст */
}

footer section {
  background-color: transparent; /* Прозрачный фон */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
}

section {
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.18); /* Полупрозрачный фон для секций */
  border-radius: 5px;
}

/* Стили для заголовка */
#kamchatka h2 {
    text-align: center; /* Центрирование заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для обертки изображения */
.image-wrapper {
    float: left; /* Обтекание текстом слева */
    margin: 0 20px 10px 0; /* Отступы: сверху, справа, снизу, слева */
    max-width: 300px; /* Максимальная ширина изображения */
}

/* Стили для текстового контента */
.text-content {
    overflow: hidden; /* Чтобы текст обтекал изображение */
}

/* Стили для изображения */
.kamchatka-image {
    width: 100%; /* Ширина изображения равна ширине контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для изображения */
}

/* Стили для подписи */
figcaption {
    text-align: center; /* Центрирование текста */
    font-style: italic; /* Курсивный текст */
    margin-top: 10px; /* Отступ сверху */
    color: #ddd; /* Цвет текста подписи */
}

/* Очистка обтекания для секции */
#kamchatka::after {
    content: "";
    display: table;
    clear: both;
}